<h1>New Wildlife</h1>

<% if @wildlife.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @wildlife.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @wildlife do |w| %>
  <%= w.label :name %>
  <%= w.text_field :name %>
  <%= w.submit %>
<% end %>
